createdAt: "2019-05-02T13:44:06.692Z"
updatedAt: "2019-05-02T13:44:29.564Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Multinomial"
content: '''
  # Multinomial
  
'''
tags: []
isStarred: false
isTrashed: false
