createdAt: "2019-05-05T12:40:01.643Z"
updatedAt: "2019-05-05T12:40:24.092Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Binomial"
content: "# Binomial"
tags: []
isStarred: false
isTrashed: false
