createdAt: "2019-05-05T12:39:41.898Z"
updatedAt: "2019-05-05T12:40:27.544Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Uniform"
content: '''
  # Uniform
  
'''
tags: []
isStarred: false
isTrashed: false
