createdAt: "2019-05-02T13:12:37.115Z"
updatedAt: "2019-05-05T12:40:36.404Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Gaussian or Normal"
content: "# Gaussian or Normal"
tags: []
isStarred: false
isTrashed: false
