createdAt: "2019-05-05T12:40:42.248Z"
updatedAt: "2019-05-05T12:40:51.617Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Exponential"
content: "# Exponential"
tags: []
isStarred: false
isTrashed: false
