createdAt: "2019-05-02T13:12:53.151Z"
updatedAt: "2019-05-02T13:13:06.472Z"
type: "MARKDOWN_NOTE"
folder: "c5a46693ec910b5deb25"
title: "Bernoulli"
content: '''
  # Bernoulli
  
  
'''
tags: []
isStarred: false
isTrashed: false
